@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2") format("woff2"),
    url("../fonts/inter-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2") format("woff2"),
    url("../fonts/inter-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2") format("woff2"),
    url("../fonts/inter-900.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "inter", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.title-block {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.button {
  position: relative;

  display: block;
  width: 152px;
  padding: 10px;

  font-family: "inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #2D3440;

  background-color: #FCFCFC;
  border: 4px solid transparent;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button--other {
  color: #FCFCFC;
  background-color: #FF2F64;
  border: 2px solid transparent;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.button--transparent {
  padding: 8px 10px;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  outline: 0;
  box-shadow: none;
}

/* .header {} */

.header__container {
  padding: 24px 0;
}

.header__nav {
  display: flex;
}

/* .logo {} */

.site-nav {
  display: flex;
}

/* .site-nav__item {} */

/* .site-nav__item-drop {} */

/* .dropdown {} */

/* .dropdown__container {} */

.dropdown__container--full {
  padding: 48px;
}

.dropdown__container--empty {
  padding: 48px 0;
  width: 288px;
}

/* .dropdown__link {} */

.site-nav__link {
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

/* .site-nav__link-drop {} */

.site-nav__down-container {
  padding: 16px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.site-nav__down-title {
  font-size: 14px;
  line-height: 20px;
}

/* .site-nav__down {} */

/* .site-nav__down-item {} */

.site-nav__down-link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.phone {
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

/* .user-nav {} */

/* .user-nav__item {} */

.user-nav__item:first-child .user-nav__link {
  padding: 0;
}

.user-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  text-decoration: none;
  color: #2D3440;
}

.user-nav__link span {
  margin-left: 9px;
}

.search {
  padding: 24px 16px;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

/* .search__form {} */

/* .search__input {} */

.form-input {
  width: 100%;
  height: 48px;
  padding: 5px 15px;

  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", "Arial", sans-serif;
  color: #2D3440;

  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.form-input::placeholder {
  color: #B9B9B9;

  opacity: 1;
}

.login {
  padding: 48px 48px 52px 48px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.login__title {
  font-size: 24px;
  line-height: 30px;
}

/* .login__form {} */

/* .login__input {} */

.login__group {
  display: flex;
}

/* .login__submit {} */

/* .login__help-links {} */

.login__help-link {
  padding-bottom: 0;
  border-bottom: 1px solid #2D3440;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.cart {
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
}

.cart__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 30px;
}

.cart__title--empty {
  margin: 0;
  font-weight: 700;
  text-align: center;
}

/* .cart__list {} */

/* .cart__item {} */

.cart__item-container {
  display: flex;
}

/* .cart__item-image {} */

/* .cart__item-description {} */

.cart__item-title {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #2D3440;
}

.cart__item-tip {
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.cart__item-price {
  font-weight: 700;
  font-size: 18px;
}

/* .cart__item-delete {} */

.cart__bottom-container {
  display: flex;
}

/* .cart__button {} */

.cart__total-price {
  font-weight: 700;
  font-size: 18px;
}

.empty-cart__heading {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* .main {} */

/* .main--container {} */

.slider {
  margin-bottom: 80px;
}

.slider__container {
  position: relative;
}

.slider__wrapper {
  display: flex;
  padding-left: 70px;
}

.slider__content-container {
  width: 425px;
  margin-right: 32px;
}

.slider__content {
  display: none;
}

.slider__content--active {
  display: block;
}

.slider__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider__text-content {
  font-size: 18px;
  line-height: 24px;
}

/* .slider__order-button {} */

/* .slider__control {} */

.slider__images {
  display: flex;
  align-items: center;
}

.slider__image-container {
  width: 100px;
  height: 150px;
  opacity: 0.4;
}

.slider__image-container:last-child {
  margin-left: 41px;
}

.slider__image-container img {
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.slider__image-container--active {
  margin-right: 35px;
  padding: 0 20px;
  width: 367px;
  height: 507px;

  opacity: 1;
}

/* .slider__navigation-arrows {} */

.slider__arrow {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  color: #FCFCFC;

  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 50%;
}

.slider__arrow--prev {
  left: 527px;
}

.slider__arrow--next {
  transform: rotate(180deg);
  left: 857px;
}

.slider__navigation-bullets {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider__bullet-item:not(:last-child) {
  margin-right: 8px;
}

.slider__bullet-button {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;

  background-color: rgba(252, 252, 252, 0.3);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.slider__bullet-button--active {
  background-color: #fcfcfc;
}

.slider__social {
  margin-top: 2px;
  justify-content: flex-end;
}

.social {
  display: flex;
  gap: 16px;
}

/* .social__item {} */

.social__link {
  display: block;
  line-height: 0;
}

.gifts {
  margin-bottom: 81px;
}

/* .gifts__container {} */

.gifts__title {
  margin-bottom: 55px;
}

.gifts__wrapper {
  display: flex;
  gap: 30px;
}

.gifts__card {
  flex-grow: 1;
  padding: 36px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: #FF7799;
  border-radius: 16px;
}

.gifts__card--raspberry {
  background-image: url("../images/gifts-raspberry.png");
}

.gifts__card--marshmallow {
  background-image: url("../images/gifts-marshmallow.png");
}

.gifts__card-title {
  font-size: 24px;
  line-height: 30px;
}

.gifts__card-description {
  width: 304px;
}

/* .gifts__card-button {} */

.catalog {
  margin-bottom: 80px;
}

.catalog--page {
  margin-bottom: 40px;
}

/* .catalog__container {} */

.catalog__title {
  margin-bottom: 56px;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 16px;
}

.catalog__item {
  padding-top: 51px;
  width: 270px;
  min-height: 281px;

  text-align: center;
}

.catalog__wrapper {
  padding: 25px 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.catalog__item-image {
  width: 168px;
  height: 168px;
  margin: -76px auto 16px;
}

.catalog__item-image img {
  display: block;
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.catalog__item-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}

.catalog__item-description {
  color: #565C66;
}

.catalog__item-price-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog__item-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #FF2F64;
  border-radius: 26px;
}

.about-us {
  margin-bottom: 80px;
}

.about-us__container {
  background-image: url("../images/about-us-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  border-radius: 16px;
}

.about-us__wrapper {
  padding: 56px 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.about-us__title {
  text-align: center;
  margin-bottom: 56px;
}

.about-us__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.about-us__item {
  max-width: 506px;
  min-height: 48px;
  padding-left: 64px;

  color: #565C66;

  background-repeat: no-repeat;
  background-position: top left;
  background-size: 48px 48px;
}

.about-us__item--production {
  background-image: url("../images/about-us-ice-cream.svg");
}

.about-us__item--ingredients {
  background-image: url("../images/about-us-cow.svg");
}

.about-us__item--quality {
  background-image: url("../images/about-us-leaflet.svg");
}

.about-us__item--delivery {
  background-image: url("../images/about-us-thermometer.svg");
}

.promo {
  margin-bottom: 80px;
}

.promo__container {
  display: flex;
  gap: 30px;
}

.gllacy-news {
  flex-basis: 50%;
  padding: 32px;
  background-image: url("../images/gllacy-news-background.jpg");
  background-color: #e8e0e0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 16px;
}

.gllacy-news__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.gllacy-news__link {
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2D3440;
}

.subscription {
  flex-basis: 50%;
  background-image: url("../images/subscription-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6px;
  border-radius: 16px;
}

.subscription__wrapper {
  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.subscription__text {
  margin: 0;
  margin-bottom: 44px;
  color: #565C66;
}

.subscription__form {
  display: flex;
}

.subscription__input {
  margin-right: 18px;
}

/* .subscription__submit {} */

.delivery {
  margin-bottom: 80px;
}

.delivery__container {
  display: flex;
  justify-content: space-between;
  padding: 64px 64px 64px 100px;
  background-image: url("../images/delivery-background.jpg");
  background-color: #e8e0e0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 16px;
}

.delivery__description {
  width: 375px;
}

.delivery__title {
  text-align: left;
}

.delivery__text {
  color: #565C66;
}

.delivery__form {
  padding: 40px;
  width: 500px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery__form-tip {
  color: #565C66;
}

.delivery__form-fields {
  display: flex;
  flex-wrap: wrap;
}

/* .delivery__form-field {} */

.delivery__form-field--date {
  width: 117px;
  margin-right: 16px;
}

.delivery__form-field--tel {
  width: 287px;
}

.delivery__form-field--address {
  width: 100%;
}

/* .delivery__form-tooltip {} */

.delivery__form-label {
  font-weight: 700;
  line-height: 20px;
}

/* .delivery__tooltip {} */

.delivery__tooltip-toggle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 0;
  background-image: url("../images/delivery-tooltip.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery__tooltip-text {
  display: none;
}

.delivery__form-input {
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  resize: none;
}

.delivery__form-submit {
  margin: 0 auto;
}

/* .contacts {} */

.contacts__container {
  padding: 64px;
  background-image: url("../images/contacts-background.jpg");
  background-color: #e7cdcd;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 16px;
}

.contacts__content {
  width: 343px;
  padding: 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.contacts__heading {
  color: #565C66;
}

.contacts__address {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.contacts__tip {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.contacts__feedback-button {
  width: 100%;
}

.footer {
  padding: 48px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

/* .footer__social {} */

.footer-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  width: 356px;
  height: 44px;
}

/* .footer-about__item {} */

.footer-about__link {
  margin-left: 24px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.footer-about__link--important {
  margin-left: 0;
  padding-left: 24px;
  background-image: url("../images/footer-about-heart.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 16px 16px;
  font-weight: 700;
}

/* .footer-copyright {} */

.footer-copyright__logo {
  display: block;
  margin-bottom: 14px;
  height: 27px;
}

.footer-copyright__info {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright__info a {
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(46, 52, 64, 0.5);
  color: #2D3440;
  text-decoration: none;
}

/* Catalog.html */

/* .breadcrumbs {} */

/* .breadcrumbs__container {} */

.breadcrumbs__list {
  display: flex;
  margin-bottom: 16px;
}

.breadcrumbs__item:not(:last-child) {
  position: relative;
  padding-right: 28px;
  margin-right: 11px;
}

.breadcrumbs__item::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs__link--current {
  padding-bottom: 1px;
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs__title {
  margin-bottom: 40px;
  text-align: left;
}

.filters {
  margin-bottom: 44px;
}

/* .filters__container {} */

.filters__form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filters__fieldset {
  padding: 0;
  margin: 0;
  margin-right: 24px;
  margin-bottom: 16px;
  border: 0;
}

.filters__fieldset:last-of-type {
  margin-right: 16px;
  margin-bottom: 0;
}

.filters__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.filters__list {
  display: flex;
  justify-content: space-between;
  min-height: 36px;
  background-color: rgb(252, 252, 252, 0.3);
  border-radius: 18px;
}

.filters__list li {
  height: 20px;
}

.filters__label {
  font-size: 14px;
  line-height: 20px;
}

.sorting-filter {
  width: 196px;
}

.sorting-filter__select {
  width: 196px;
  height: 36px;
  padding: 0 40px 0 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "inter", "Arial", sans-serif;
  color: #2d3440;

  background: rgba(252, 252, 252, 0.3);
  background-image: url("../images/sorting-filter-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 11px;
  border: 2px solid transparent;
  border-radius: 20px;

  appearance: none;
}

.price-filter {
  width: 196px;
}

.fats-filter {
  width: 383px;
}

.fats-filter__list {
  padding: 8px 24px;
}

/* .fats-filter__item {} */

/* .fats-filter__radio {} */

/* .fats-filter__label {} */

.fillers-filter {
  width: 604px;
}

.fillers-filter__list {
  padding: 10px 24px;
}

/* .fillers-filter__item {} */

/* .fillers-filter__checkbox {} */

/* .fillers-filter__label {} */

.filters__submit-button {
  width: 185px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 41px 0;
}

/* .pagination__button {} */

.pagination__container {
  display: flex;
  align-items: center;
  margin-left: 335px;
}

.pagination__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;

  color: #2d3440;

  background-color: transparent;
  border: none;
}

.pagination__arrow--prev {
  margin-right: 8px;
}

.pagination__arrow--next {
  margin-left: 8px;
  transform: rotate(-180deg);
}

.pagination__arrow--disabled,
.pagination__arrow:disabled {
  opacity: 0.3;
}

.pagination__list {
  display: flex;
}

/* .pagination__item {} */

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;

  line-height: 20px;
  color: #2d3440;
  text-decoration: none;

  border: 1px solid transparent;
  border-radius: 50%;
}

.pagination__link--current {
  background-color: #FCFCFC;
}
